.loading {
	font-size: 1.2em;
	color: #F8F9FA;
	display: flex;
	align-items: center;
}

.loading .icon {
	font-size: 1.2em;
	margin-right: 6px;
}

.login {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.login .form {

}

.login .form .label {
	margin-bottom: 20px;
}

.login .form .label h1 {
	font-size: 2em;
	color: #F8F9FA;
}

.login .form .label .alert {
	margin: 2px;
	font-size: 1.1em;
}

.login .form .username {
	display: flex;
	flex-direction: column;
	margin: 15px 0px;
}

.login .form .username label {
	font-size: 1.1em;
	display: flex;
	margin-left: 4px;
	margin-bottom: 4px;
	color: #F8F9FA;
}

.login .form .username label .icon {
	margin-right: 2px;
	font-size: 1.1em;
}

.login .form .username input {
	outline: 0;
	border: 1px solid #F8F9FA;
	border-radius: 8px;
	padding: 8px 10px;
	font-size: 1.1em;
	background-color: transparent;
	color: #F8F9FA;
}

.login .form .password {
	display: flex;
	flex-direction: column;
	margin: 15px 0px;
}

.login .form .password label {
	font-size: 1.1em;
	display: flex;
	margin-left: 4px;
	margin-bottom: 4px;
	color: #F8F9FA;
}

.login .form .password label .icon {
	margin-right: 4px;
	font-size: 1.1em;
}

.login .form .password input {
	outline: 0;
	border: 1px solid #F8F9FA;
	border-radius: 8px;
	padding: 8px 10px;
	font-size: 1.1em;
	background-color: transparent;
	color: #F8F9FA;
}

.login .form .password p {
	margin-left: 5px;
	margin-top: 4px;
	color: #FFFFFF;
	font-size: 1em;
}

.login .form .submit {
	display: flex;
	flex-direction: column;
}

.login .form .submit button {
	outline: 0;
	font-size: 1em;
	border: 0;
	border-radius: 8px;
	padding: 10px;
	color: #F8F9FA;
	background-color: #0D6EFD;
}

.login .options {
	display: flex;
	flex-direction: column;
}

.login .options button {
	outline: 0;
	font-size: 1em;
	border: 0;
	border-radius: 8px;
	padding: 10px;
	color: #0D6EFD;
	background-color: #F8F9FA;
}